Listen {{ rcm_vhost_port }}

<VirtualHost *:{{ rcm_vhost_port }} >
    DocumentRoot /var/www/html/images/rhel
    ServerName {{ inventory_hostname }}

    Alias /rcm-guest /var/www/html/images/rhel

    <Directory /var/www/html/images/rhel>
        IndexOptions FancyIndexing FoldersFirst
        Options MultiViews Indexes FollowSymLinks
        AllowOverride None
        Order deny,allow
        Allow from all
    </Directory>

    SSLEngine on
    SSLProtocol             ALL -SSLv2 -SSLv3
    SSLCertificateFile /etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ inventory_hostname }}/chain.pem

    ErrorLog "/var/log/httpd/error_rcm_log"
    CustomLog "/var/log/httpd/access_rcm_log" combined
</VirtualHost>
