#!/bin/bash
# This script wraps around openshift_tag_pruner and openshift_tag_whitelist.

# Tag deletion must be completed as admin
oc login -u system:admin --config=/etc/origin/master/admin.kubeconfig
oc adm config use-context default/{{ openshift_master_cluster_hostname | replace('.','-') }}:8443/system:admin

{% for ns in pruner_namespace %}
/usr/local/bin/openshift_tag_pruner --days {{ ns.pruner_days }} --whitelist "$(/usr/local/bin/openshift_tag_whitelist)" {{ ns.name }} --confirm
{% endfor %}

# Pruning is done with the rdo.pruner user
oc login --token $(oc sa get-token rdo.pruner) {{ openshift_master_cluster_public_hostname | default('registry.rdoproject.org') }}:8443
oc adm prune images --keep-younger-than=24h --keep-tag-revisions=2 --confirm
