#!/bin/bash
# Generates a comma separated value of tags to whitelist for the RDO registry.
# We want to whitelist some tag names (ex: "current-tripleo") but also the hash
# that they resolve to (ex: "5466f249bd36900a1dac573cdc83e7a11493aea2_0c8f7f95")

# TODO: Rely on the container image metadata instead.
set -o pipefail

releases="{{ pruner_dlrn_endpoints | join(' ') }}"
names="{{ pruner_extended_whitelist | join(' ') }}"

[[ ! -d /tmp/dlrnapi ]] && virtualenv /tmp/dlrnapi >/dev/null
source /tmp/dlrnapi/bin/activate
pip install --upgrade pip > /dev/null
pip install setuptools --upgrade >/dev/null
pip install dlrnapi_client >/dev/null

# This is needed on CentOS 7 servers to avoid issues with LetsEncrypt certificates
export SSL_CA_BUNDLE=/etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt

(for release in $releases
do
  for name in $names
  do
     echo $name
     output=$(dlrnapi --url https://trunk.rdoproject.org/${release} promotion-get --promote-name ${name} --limit 1)
     if [ $? -ne 0 ]; then
         exit 1
     else
         echo $output | jq -r '.[0] | (.repo_hash,.aggregate_hash)' | grep -v null
     fi
  done
done) | sort | uniq |paste -sd ','
