- name: Set up default checks
  vars:
    defaults: "{{ rdo_checks_defaults }}"
  sensu_check:
    name: "{{ item.key }}"
    command: "{{ item.value.command }}"
    metric: "{{ item.value.metric | default(defaults['metric']) }}"
    handlers: "{{ item.value.handlers | default(defaults['handlers']) }}"
    subscribers: "{{ item.value.subscribers | default(defaults['subscribers']) }}"
    interval: "{{ item.value.interval | default(defaults['interval']) }}"
    ttl: "{{ item.value.ttl | default(defaults['ttl']) }}"
    standalone: "{{ item.value.standalone | default(defaults['standalone']) }}"
    occurrences: "{{ item.value.occurrences | default(defaults['occurrences']) }}"
    custom: "{{ item.value.custom | default(defaults['custom']) }}"
  with_dict: "{{ rdo_checks }}"
  notify:
    - Restart sensu-client

# This might yield a warning about using Jinja statements in the "when" condition
# but it is a known issue: https://github.com/ansible/ansible/issues/23578
- name: Set up additional checks
  vars:
    defaults: "{{ rdo_checks_defaults }}"
  sensu_check:
    name: "{{ item.key }}"
    command: "{{ item.value.command }}"
    metric: "{{ item.value.metric | default(defaults['metric']) }}"
    handlers: "{{ item.value.handlers | default(defaults['handlers']) }}"
    subscribers: "{{ item.value.subscribers | default(defaults['subscribers']) }}"
    interval: "{{ item.value.interval | default(defaults['interval']) }}"
    ttl: "{{ item.value.ttl | default(defaults['ttl']) }}"
    standalone: "{{ item.value.standalone | default(defaults['standalone']) }}"
    occurrences: "{{ item.value.occurrences | default(defaults['occurrences']) }}"
    custom: "{{ item.value.custom | default(defaults['custom']) }}"
  when: rdo_additional_checks
  with_dict: "{{ rdo_additional_checks }}"
  notify:
    - Restart sensu-client
