<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RDO Infra Inventory</title>
    <link rel="stylesheet" href="styles.css"></link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <div class="sidebar-left">
      <ul class="sidebar-left">
          {% for system in ansible_play_hosts|sort %}
          <li><a href=inventory-{{ system }}.html>{{ system }}</a></li>
          {% endfor %}
      </ul>
    </div>
    <div class="main"> </div>
  </body>
</html>
