
                 This system is managed by the RDO community.
          ------------------------------------------------------------
          -------sMMMMMMMMNmy/-:MMMMMMNNdyo:-----:odNMMMMmho----------
          -------odddddddmMMMMy:ddddddmMMMMNs---sMMMMMNNMMMMNo--------
          ----------------oMMMM/--------oNMMMh-hMMMd+---:+mMMMs-------
          ---------------/hMMMM:---------yMMMM/MMMm-------:NMMN-------
          -------sMMMMMMMMMMMm+:MMMm-----yMMMM/MMMm-------:NMMN-------
          -------sMMMmddNMMMh:-:MMMm---:sMMMMy-yMMMd+---:omMMMo-------
          -------sMMMo---sMMMN+:MMMNddNMMMMNo---sNMMMMNNMMMMNo--------
          -------sMMMo----sMMMN/MMMMMNNmdy+------:ohmMMMNmh+----------
          ------------------------------------------------------------

          This system is under configuration automation.
          Your files and configuration are not kept and can be overwritten or
          deleted. Please do not use this server for personal purposes.

          OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
          Hostname    : {{ ansible_hostname }}
          IP address  : {{ ansible_default_ipv4.address }}
          System type : {{ ansible_system }}
