clouds:
  default:
    region_name: regionOne
    identity_api_version: 3
    auth:
      username: {{ rdo_cloud_username }}
      password: {{ rdo_cloud_password }}
      project_name: {{ rdo_cloud_project }}
      auth_url: https://phx2.cloud.rdoproject.org:13000/v3
      project_domain_name: default
      user_domain_name: default
