---
#   Copyright Red Hat, Inc. All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License"); you may
#   not use this file except in compliance with the License. You may obtain
#   a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#   WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#   License for the specific language governing permissions and limitations
#   under the License.
#

# Variables for rdo-infra/sensu-client
rdo_releases:
  - "master-head"
  - "master"
  - "queens"
  - "pike"
  - "ocata"
  - "newton"

rdo_tags:
  - "current"
  - "consistent"
  - "current-passed-ci"

# Domains that are expected to have http/s enabled
rdo_domains:
  - images.rdoproject.org
  - console.registry.rdoproject.org
  - trunk.registry.rdoproject.org
  - registry.rdoproject.org:8443
  - trunk.rdoproject.org
  - review.rdoproject.org
  - www.rdoproject.org
  - logs.rdoproject.org
  - thirdparty.logs.rdoproject.org
  - centos.logs.rdoproject.org
  - uchiwa.monitoring.rdoproject.org
  - lists.rdoproject.org

# Domains where we only expect http enabled
rdo_domains_httponly:
  - mirror.regionone.rdo-cloud.rdoproject.org

rdo_backup_locations:
  - "/var/lib/backup_lists_rdo/bup:lists.rdoproject.org:0"
  - "/var/lib/backup_review_rdo/bup:review.rdoproject.org:1"

rdo_nodepool_image_names:
  - rdo-centos-7
  - upstream-centos-7
  - rdo-fedora-26

nodepool_checks: >
  {% set checks = {} -%}
  {% for image in rdo_nodepool_image_names -%}
    {% set _ = checks.update({ "check-nodepool-image-age-" ~ image: {
                "command": "/opt/sensu/embedded/bin/check-nodepool-image-age.sh" ~ image ~ "2",
                "subscribers": "managesf",
            }
        })
    -%}
  {% endfor -%}
  {{ checks }}


backup_checks: >
    {% set checks = {} -%}
    {% for location in rdo_backup_locations -%}
      {% set loc = location.split('|') -%}
      {% set _ = checks.update({ "check-backup-" ~ loc[1] | replace(".", "-"): {
                  "command": "/opt/sensu/embedded/bin/check-bup-backup-age.sh" ~ " " ~ loc[0] ~ " " ~ loc[1] ~ " " ~ "172800" ~ " " ~ loc[2],
                  "subscribers": "backup_server",
             }
         })
      -%}
    {% endfor -%}
    {{ checks }}

http_checks: >
    {% set checks = {} -%}
    {% for domain in rdo_domains -%}
      {% set _ = checks.update({ "check-http-" ~ domain | replace(".", "-") | replace(":8443", ""): {
                  "command": "/opt/sensu/embedded/bin/check-http.rb -u https://" ~ domain,
                  "subscribers": "monitoring_master",
              }
          })
      -%}
      {% set _ = checks.update({ "check-https-" ~ domain | replace(".", "-") | replace(":8443", ""): {
                  "command": "/opt/sensu/embedded/bin/check-https-cert.rb -c 5 -w 10 -u https://" ~ domain,
                  "subscribers": "monitoring_master",
              }
          })
      -%}
    {% endfor -%}
    {% for domain in rdo_domains_httponly -%}
      {% set _ = checks.update({ "check-http-" ~ domain | replace(".", "-") | replace(":8443", ""): {
                  "command": "/opt/sensu/embedded/bin/check-http.rb -u http://" ~ domain,
                  "subscribers": "monitoring_master",
              }
          })
      -%}
    {% endfor -%}
    {{ checks }}

# Template the list of DLRN checks for every release and tag we're interested in
delorean_checks: >
    {% set checks = {} -%}
    {% for release in rdo_releases -%}
    {% for tag in rdo_tags -%}
    {% if not release == "master-head" -%}
    {% set _ = checks.update({ "check-delorean-" ~ release ~ "-" ~ tag: {
                "command": "/opt/sensu/embedded/bin/check-delorean-builds.py centos7-" ~ release ~ " " ~ tag,
                "subscribers": "monitoring_master",
                "custom": {
                    "broadcast": "#rdo",
                    "retry_occurrences": "180"
                }
            }
        })
    -%}
    {% endif -%}
    {% set _ = checks.update({ "check-delorean-update-" ~ release ~ "-" ~ tag: {
                "command": "/opt/sensu/embedded/bin/check-http-file-age.sh https://trunk.rdoproject.org/centos7-" ~ release ~ "/current/build.log 86400",
                "subscribers": "monitoring_master",
                "custom": {
                    "broadcast": "#rdo-dev",
                    "retry_occurrences": "180"
                }
            }
        })
    -%}
    {% endfor -%}
    {% endfor -%}
    {{ checks }}

additional_checks:
  check-rabbitmq:
    command: '/opt/sensu/embedded/bin/check-process.rb -p "rabbitmq" -C 1'
    subscribers: 'monitoring_master'
  check-rdobot:
    command: '/opt/sensu/embedded/bin/check-process.rb -p "rdobot" -C 1'
    subscribers: 'monitoring_master'
  check-sensu-api:
    command: '/opt/sensu/embedded/bin/check-process.rb -p "sensu-api" -C 1'
    subscribers: 'monitoring_master'
  check-sensu-server:
    command: '/opt/sensu/embedded/bin/check-process.rb -p "sensu-server" -C 1'
    subscribers: 'monitoring_master'
  check-uchiwa:
    command: "/opt/sensu/embedded/bin/check-uchiwa-health.rb -h localhost:3000/uchiwa -u rdo -p rdo"
    subscribers: 'monitoring_master'
  check-httpd:
    command: '/opt/sensu/embedded/bin/check-process.rb -p "httpd" -C 1'
    subscribers: 'monitoring_master'
  check-domain-registration:
    command: '/opt/sensu/embedded/bin/check-whois-domain-expiration.rb -d rdoproject.org -c 60'
    subscribers: 'monitoring_master'
    interval: '14400'
    ttl: '43200'
  check-nodepool:
    command: '/opt/sensu/embedded/bin/check-mtime.rb -f /var/log/nodepool/nodepool.log -w 1800 -c 3600 -z'
    subscribers: 'managesf'

rdo_additional_checks: "{{ additional_checks | combine(delorean_checks) | combine(http_checks) | combine(backup_checks) | combine(nodepool_checks)}}"

rdo_subscriptions:
  - "default"
  - "monitoring_master"
